@font-face {
    font-family:PlayFlairMedium;
    src: url(../font/PlayfairDisplay-Medium.ttf);
}

:root {
    --BacgroundHeader: white;
  }

@font-face {
    font-family:PlayFlairBold;
    src: url(../font/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family:PlayFlairRegular;
    src: url(../font/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family:PlayFlairVariable;
    src: url(../font/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

p{
    font-family:-apple-system, Helvetica, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#212121;
}

body {
    margin: 0px;
   padding: 0px;
 
}



header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 9vh;
    border-bottom: 2px solid #FF6868;   
    background-color: var(--BacgroundHeader);
}

#DropsIconPrincipal {
    width: 7vw;
    height: 7vh;
}

#SectionHeader {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 15vw;
}

#divLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#DropsIcon {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    margin-left: 0.5vw;
    margin-right: 0.1vw;
}

#pLogo {
    color:#212121;
    font-family: PlayFlairBold;
    font-size: 25px;
    margin-bottom: 19px;
    text-decoration: none;
}

#aSobreNos {
    margin-left: 2vw;
    text-decoration:none;
    font-family:-apple-system, Helvetica, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#212121; 
}

#SectionIconSocialRedes {
    display: flex;
    flex-direction: row;
    margin-right: 1vw;
}

.IconSocialRedes {
    width: 20px;
    height: 20px;
    margin-right: 8px;

}

#Instagram:hover {
    width: 22px;
    height: 22px;
}

#TikTok:hover {
    width: 22px;
    height: 22px;
}

#bars {
    width: 13px;
    height: 13px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}


#listaNav {
    width: 48vw;
    margin: 0px;
    padding: 0px;
    list-style:none;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position:absolute;

    animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}

a {
  text-decoration: none; 
  color:#212121;  
}

li {
    padding-top: 5px;
    margin-right: 0px;
    margin-left: 8px;
    padding: 0px;
    text-decoration: none; 
    list-style: none;
    font-family:-apple-system, Helvetica, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    outline-style: none;
}


.navbar {
    margin-right: 25px;
}

#bars {
    color: gray;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#divMainH1 {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 20vh;
    margin-left: 15px;
    border-bottom: 1px solid #FF6868;
    margin-bottom: 0px;
}

h1 {
    font-family: -apple-system, Helvetica, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: #212121;
    font-size: 22px;
}

.divConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22vw;
    padding: 1rem;
    position: relative;
    margin-top: 10vh;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid rgb(20, 20, 20) ;
}

#divContainer-1 {
    background-image: radial-gradient(farthest-corner at 45px 45px,#0084E2 0%,#005896 100%);
}

#divContainer-2 {
    background-image: radial-gradient(farthest-corner at 45px 45px,#FF8282 0%,#fc6060 100%);
}

#divContainer-3 {
    background-image: radial-gradient(farthest-corner at 45px 45px,#0084E2 0%,#005896 100%);
}

#divContainer-4 {
    background-image: radial-gradient(farthest-corner at 45px 45px,#FF8282 0%,#fc6060 100%);
}

#divContainer-5 {
    background-image: radial-gradient(farthest-corner at 45px 45px,#0084E2 0%,#005896 100%);
}

#divContainer-6 {
    background-image: radial-gradient(farthest-corner at 45px 45px,#FF8282 0%,#fc6060 100%);
}

.divContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.divTituloConteiner2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.imgNumeracao {
    width: 50px;
    height: 50px;
}


h2 {
    font-family: -apple-system, Helvetica, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: #FEFEFE;
    font-size: 20px;
}

.pConteiner {
    width: 22vw;
    font-size: 18px;
    font-style: oblique;
    font-weight: 800;
    display: inline-block;
   overflow-wrap: break-word;
   color: #FFFFFF;
   font-family: -apple-system, Helvetica, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.gifs {
    width: 10vw;
    height: 10vw;
    border: 0.5px solid rgb(20, 20, 20) ;
    border-radius: 5px;
}

#ComplementaTela {
   height: 15vh;
}

footer {
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 85vh;
    background-color: #003154;
    border-top: 2px solid #FF6868;
}



#pLogoFooter {
    color: rgb(241, 240, 240);
    font-family: PlayFlairBold;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 1vh
}

#pCopyright {
    color: rgb(241, 240, 240);
    font-family:  -apple-system, Helvetica, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;;
}

#divFooterCopyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
}


#DropsIconFooter {
    width: 15px;
    height: 15px;
    margin-left: 0.5vw;
    margin-bottom: 1vh;
}

@media(max-width: 500px){
    .pConteiner {
        width: 210px;
    }

    .divConteiner {
        width: 210px;
    }

    #aSobreNos {
        display: none;
    }

    #SobreNosLi {
        display: flex;
    }

    .gifs {
        width: 120px;
        height: 120px;
        border: 0.5px solid rgb(20, 20, 20) ;
        border-radius: 5px;
    }

    #DropsIconFooter2 {
        display: none;
    }
}

@media(min-width: 500px){
  
    #aSobreNos {
        display: flex;
    }

    #SobreNosLi {
        display: none;
    }

    #DropsIconFooter2 {
        display: flex;
        width: 15px;
        height: 15px;
        margin-left: 0.5vw;
        margin-bottom: 1vh;
    }
    
}
